/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /* font-family: 'Quicksand', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Lora', serif;
   60, 36, 18, 16
   75cb00 green, F99825 orange, B26A29 dark orange */

/* Global styles */
  html {
    font-size: 16px;
  }

  body {
    font-size: 1em;
    text-align: left;
   }
   /* can't set a container for the entire site because I have a full-width image */
/*   .container {    
    width: 90%;
    margin: 50px 0;
   } */

  h2, h3, p, li {
    color: #75cb00;
   }

  h1, h2 {
    font-family: 'Quicksand', sans-serif;
   }

  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 400;
   }

  p, li {
    font-family: 'Lora', serif;
   }
  img {
    width: 100%;
  }
  figure {
    margin: 0;
   }
   address {
    font-style: normal; 
  }
/* End Global styles */

/* Header styles */
  header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
   }
   header .container {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
   header figure {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  header h1 {    
    color: #75cb00;
    border-top: solid 1px #F99825; /* change to 5px in Media Queries */
    width: 80%;
    text-align: center;
   }

  .hero-img {
    background: url("../img/ali-yahya-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 250px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 20px 0 5px 0;
   }
  .hero-img .container {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    align-content: space-between;
  }
  .hero-img h2 {
    color: white;  
    font-size: 1.5rem;  
    margin: 0;
   }
  .hero-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
  #cta {
    text-align: center;
  }

  .hero-img p {
    font-family: 'Roboto', sans-serif;
    font-size: 400;
    color: white;
    margin-top: 5px;
    margin-right: 20px;
    background-color: #75cb00;
    padding: 5px;
   }
/* End Header styles */

/* Main styles */
  .menu-offerings {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .menu-offerings .container {
    width: 80%;
    border-bottom: 3px dotted #F99825; /* change to 5px in Media Queries */
    margin: 50px 0 0 0;
    padding-bottom: 50px;
  }
  #menu-icon {
    margin-bottom: 30px;
  }
  /* the icons have different amounts of whitespace around them, this is just one way of accounting for it. */
  #menu-icon-small {
    margin-bottom: -20px;
  }
  .menu-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .menu-items h2 {
    width: 30%;
  }
  .menu-items .menu-discription {
    width: 70%;
  }
  .menu-id {
    margin-top: 0;
  }
  .menu-discription {
    margin-top: 0;
    text-align: center;  
  }
  .tag-line {
    width: 100%;
    text-align: center;
  }

  .testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .testimonials .container {
    width: 90%;
    margin: 50px 0 0 0;
    padding-bottom: 50px;
    border-bottom: 3px dotted #F99825;
  }
  .testimonials h2 {    
    text-align: center;
  }

  .disclaimer { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .disclaimer .container {
    width: 90%;
    margin: 50px 0 0 0;
    padding-bottom: 50px;
    border-bottom: 3px dotted #F99825;
  }
  .disclaimer h3 {    
    text-align: center;
  }
/* End Main styles */

/* Footer styles */
  footer {    
    border-bottom: solid 1px #F99825; /* change to 5px in Media Queries */    
   }
   footer .container {
    width: 90%;
    margin: 50px 0;
   }
  .follow-us {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  .contact h2 {    
    text-align: center;
  }
  .contact ul {
    padding-left: 0;
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
  }
  .contact li {
    list-style-type: none;
  }
  .thanks p {
    text-align: center;
  }

/* End Footer styles */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
